---
import Navigation from "./Navigation.astro";
---

<header class="sticky top-0 z-50 w-full bg-white/90 backdrop-blur-md shadow-sm">
  <div class="container flex items-center justify-between h-20">
    <a
      href="/"
      class="text-2xl font-bold text-green-800 font-serif flex items-center"
    >
      <span class="sr-only">Heritage Roots Farms</span>
      <img
        src="/uploads/Logo.png"
        alt="Heritage Roots Farms Logo"
        class="h-12 w-auto mr-2"
        loading="lazy"
      />
      <span class="text-green-600">Heritage Roots Farms</span>
    </a>

    <Navigation />
  </div>
</header>
